<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<div  th:fragment="formSpectator">
<form>

    <div class="form-row">
        <div class="col-md-4 mb-3 md-form" id="id_div_bandName">
            <label for="validationServer015"></label>
            <input type="text" class="form-control is-valid" placeholder="Username" id="validationServer015" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
<!--        <div class="col-md-4 mb-3 md-form" id="id_div_noMembers">-->
<!--            <label for="validationServer025"></label>-->
<!--            <input type="text" class="form-control is-valid" placeholder="Nume" id="validationServer025" value="" required>-->
<!--            <div class="valid-feedback">-->
<!--                Looks good!-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4 mb-3 md-form" id="id_div_email">-->
<!--            <label for="validationServerUsername55"></label>-->
<!--            <input type="text" class="form-control is-invalid" placeholder="Prenume" id="validationServerUsername55" required>-->
<!--            <div class="invalid-feedback">-->
<!--                Please choose a valid email-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-3 mb-3 md-form" id="id_div_noConcerts">-->
<!--        <label for="validationServer055"></label>-->
<!--        <input type="email" class="form-control is-invalid" placeholder="Email" id="validationServer055" required>-->
<!--        <div class="invalid-feedback">-->
<!--            Please provide a valid number-->
<!--        </div>-->
<!--    </div>-->


<!--    <div class="form-row">-->
<!--        <div class="col-md-6 mb-3 md-form" id="id_div_city">-->
<!--            <label for="validationServer035"></label>-->
<!--            <input type="text" class="form-control is-invalid" placeholder="Oras" id="validationServer035" required>-->
<!--            <div class="invalid-feedback">-->
<!--                Please provide a valid city.-->
<!--            </div>-->
<!--        </div>-->

        <div class="col-md-6 mb-3 md-form" id="id_div_password">
            <label for="validationServer045"></label>
            <input type="password" class="form-control is-invalid" placeholder="Parola" id="validationServer045" required>
            <div class="invalid-feedback">
                Please provide a valid password
            </div>
        </div>

        <div class="col-md-6 mb-3 md-form" id="id_div_confPass">
            <label for="validationServer045"></label>
            <input type="password" class="form-control is-invalid" placeholder="Confirma parola" id="confPassword" required>
            <div class="invalid-feedback">
                Please provide a valid password
            </div>
        </div>


    </div>

    <button  id="id_btn_submitBand" type="submit">Inregistrare</button>
</form>

</div>